.DS_Store

/dotfiles/omacase/.config/tmux/tpm
/dotfiles/omacase/.config/tmux/plugins

/dotfiles/omacase/.config/karabiner/automatic_backups

/Brewfile.custom
/custom/*
!/custom/.gitkeep

/dotfiles/custom/*
!/dotfiles/custom/.gitkeep
!/dotfiles/custom/.stow-local-ignore
